@import "./variables";
@import "./header";
@import "./img-home";
@import "./about";
@import "./form";


header {
  margin-top: 55px; }

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.905)), url(../assets/Imgproductos.png/zorro3.jpg);
  background-size: cover;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .hero__title {
    font-size: 4rem;
    color: #fff; }
  .hero .parrafo-principal {
    font-size: 2rem;
    color: #eee; }

/*Galeria*/
.galeria-productos {
  background-image: linear-gradient(to top, #ecedee 0%, #eceeef 75%, #e7e8e9 100%);
  min-height: 100vh;
  font: normal 16px sans-serif;
  padding: 60px 0; }

.container.gallery-container {
  background-color: #fff;
  color: #35373a;
  min-height: 100vh;
  border-radius: 20px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06); }

.gallery-container h5 {
  text-align: center;
  margin-top: 70px;
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold; }

.gallery-container p.page-description {
  text-align: center;
  max-width: 800px;
  margin: 25px auto;
  color: #888;
  font-size: 18px; }

.tz-gallery {
  padding: 40px; 
}

.tz-gallery .lightbox img {
  width: 100%;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
}

.tz-gallery .lightbox img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
}

.tz-gallery img {
  border-radius: 4px; 
}

.baguetteBox-button {
  background-color: transparent !important; 
}

@media (max-width: 768px) {
  body {
    padding: 0; }
  .container.gallery-container {
    border-radius: 0; } 
}

/*ABOUT*/
.about {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 2rem; 
}

.about__title {
  margin: 2rem; 
}

.about__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 90%; 
}

.about__container p {
  color: #5c5c5c;
  font-size: 1.2rem;
  padding: 2rem;
  width: 50%; 
}

.about__container__img {
  width: 25%;
  border-radius: 0.3rem;
  background: linear-gradient(45deg, #5c5c5c, #292b2c, transparent);
  display: flex;
  align-items: center; }

.about__container__img img {
  border-radius: 0.3rem;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: rotate(10deg);
  transition: .3s; 
}

.about__container__img img:hover {
  transform: rotate(0); 
}


/*Img-Tienda*/
.img-tienda {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 2rem; }

.img-tienda__title {
  font-size: 2rem; }

.img-tienda__content {
  align-items: center;
  border-radius: 0.3rem;
  box-shadow: 3px 3px 3px 0px rgba(230, 230, 230, 0.75);
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  background: #eee;
  width: 400px;
  height: 450px;
  transition: 1s; }

.img-tienda__content:hover {
  transform: scale(1.05); }

.img-tienda__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem; }

.img-tienda__content-title {
  text-transform: uppercase; }

.img-tienda__content-img {
  width: 400px;
  height: 300px; }

.img-tienda__content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/*Maps*/
.style-maps {
  border-radius: 0.4rem;
  padding: 4rem;
  height: 50%;
  width: 50%;
  text-align: center;
  border-color: black; }

/*Form Mi Cuenta*/
.form-micuenta {
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem;
  width: 100%;
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

/*FOOTER*/
footer {
  padding: 3rem;
  text-align: center; }

.img-footer {
  text-align: center; }

.iconos-footer {
  margin-left: 25px;
  height: 100%;
  width: 100%; }

/*==== MEDIA QUERIES (MEDIUM DEVICES) ====*/
@media screen and (max-width: 900px) {
  .about__container p {
    width: 100%; }
  .about__container__img {
    width: 70%;
    margin: 2rem; }
  .form {
    flex-direction: column; }
  .form__img {
    width: 70%; }
  .form__content {
    width: 90%; } }

/*==== MEDIA QUERIES (MEDIUM DEVICES) ====*/
@media screen and (max-width: 768px) {
  .img-home__container {
    justify-content: center; } }

/*==== MEDIA QUERIES (SMALL DEVICES) ====*/
@media screen and (max-width: 480px) {
  .about__container p {
    font-size: 1rem;
    width: 100%;
    padding: 0; }
  .about__container__img {
    width: 100%;
    margin: 2rem; }
  .img-home__content-img {
    width: 300px; }
  .img-home__content {
    width: 300px; }
  .form {
    padding: 1rem; }
  .form__img {
    width: 80%; }
  .form__content {
    width: 100%; } }
